<div class="container">
    <div class="helper">
        <div class="content">
            <div class="bookmark-carousel" *ngIf="_bookmarks != null && _bookmarks.length > 0">
                <ngx-carousel
                    [inputs]="carouselOne">
                        <ngx-tile NgxCarouselItem *ngFor="let bookmark of _bookmarks" (click)="bookmarkPressed(bookmark)">
                            <div class="bookmark-tile">
                                <img style="width: 100%; margin: 0 auto;" src='http://icons.better-idea.org/icon?url={{bookmark.Url.split("?")[0]}}&size=80..200..500'>
                            </div>
                            <div style="text-align: center; padding: 5px; background-color: white;">
                                {{truncate(bookmark.Title)}}	
                            </div>
                        </ngx-tile>
                        <button style="display: hidden;" NgxCarouselPrev class="leftRs">Left</button>
                        <button style="display: hidden;" NgxCarouselNext class="rightRs">Right</button>
                </ngx-carousel>
            </div>
            <div *ngIf="_bookmarks == null || _bookmarks.length == 0" class="no-bookmarks">
                No Bookmarks Found
            </div>
        </div>
    </div>
</div>
