.bookmark-carousel {
    width: 90vw;	
    padding-top: calc(env(safe-area-inset-top) + 5px);
    padding-right: calc(env(safe-area-inset-right) + 5px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 5px);
    padding-left: calc(env(safe-area-inset-left) + 5px);
    margin: 10vh auto;
}

.bookmark-tile {
    height: 100%;
    padding: 1vw;
    background-color: white;
}

.bookmark-header {
	text-align: center;
	color: black;
	font-size: 3.5vw;
}

.leftRs {
	display: none !important;
}

.rightRs {
	display: none !important;
}

.no-bookmarks {
    color: lightgray;
    font-size: 6vw;
    text-align: center;
}

.container {
    display: table;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.helper {
    display: table-cell;
    vertical-align: middle;
}

.content {
    margin: 0 auto;
    width: 90vw;
}