/* You can add global styles to this file, and also import other style files */
body {
    font-family: vsfont;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    margin: 0 !important;
    background-color: rgb(242, 242, 242);
}

html, body {
	overflow: hidden;
}

.cdk-overlay-pane {
    max-width: 90vw !important;
    max-height: 100vh !important;
    margin: 0 auto;
    overflow-y: hidden;
}

.mat-dialog-container {
    overflow-y: hidden !important;
}


.bookmark-tile {
    height: 100%;
    padding: 1vw;
    background-color: white;
}